* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container nav {
  height: 120px;
  background-color: rgb(217, 195, 28);
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.container nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.container nav ul li {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.container nav ul li::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.container nav ul li:hover::after {
  width: 100%;
}
.container nav ul form #ara {
  height: 40px;
  width: 180px;
  font-size: 1rem;
  border-radius: 18px;
  border: 4px solid gray;
  background-color: rgb(217, 195, 28);
  color: white;
  padding-left: 20px;
}
.container nav ul form #ara:hover {
  border: 4px solid white;
}
.container nav ul span i {
  cursor: pointer;
  color: whitesmoke;
  font-size: 2rem;
}

.main {
  display: flex;
  justify-content: center;
}
.main .siteMain {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 70%;
}
.main .siteMain .anaYapiyiDuzenle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 500px;
}
.main .siteMain .anaYapiyiDuzenle img {
  width: 100%;
  height: 50%;
}
.main .siteMain .anaYapiyiDuzenle button {
  width: 90px;
  height: 25px;
  background-color: black;
  border: 2px solid whitesmoke;
  color: white;
  border-radius: 12px;
}
.main #ekle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
  width: 90px;
  height: 90px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}
.main #ekle i {
  font-size: 4rem;
}
.main .hamburgerMenu {
  display: none;
  width: 400px;
  right: 0;
  background-color: gray;
}

.footer {
  height: 120px;
  background-color: rgb(217, 195, 28);
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.footer ul li {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.footer ul li::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.footer ul li:hover::after {
  width: 100%;
}
.footer ul form #ara {
  height: 40px;
  width: 180px;
  font-size: 1rem;
  border-radius: 18px;
  border: 4px solid gray;
  background-color: black;
  color: white;
  padding-left: 20px;
}
.footer ul form #ara:hover {
  border: 4px solid white;
}

.navAna {
  height: 120px;
  background-color: rgb(255, 211, 36);
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.navAna ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.navAna ul #anali {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.navAna ul #anali::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.navAna ul #anali:hover::after {
  width: 100%;
}
.navAna ul form #ara {
  height: 40px;
  width: 180px;
  font-size: 1rem;
  border-radius: 18px;
  border: 4px solid gray;
  background-color: black;
  color: white;
  padding-left: 20px;
}
.navAna ul form #ara:hover {
  border: 4px solid white;
}
.navAna ul #navbr {
  color: white;
  width: 100%;
  height: 100px;
}

.anamain {
  width: 100%;
  height: 600px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.anamain .icons {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  margin-top: 25px;
}
.anamain #iconsli {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50px;
  height: 50px;
  border: 2px 2px 2px black;
  box-sizing: border-box;
  font-size: 1rem;
  color: green;
}
.anamain #anabaslik {
  color: green;
  font-size: 3rem;
}
.anamain #anap {
  margin-right: 40px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.footerAna {
  height: 120px;
  background-color: rgb(255, 211, 36);
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.footerAna ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.footerAna ul li {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.footerAna ul li::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.footerAna ul li:hover::after {
  width: 100%;
}

.navAnaliz {
  height: 120px;
  background-color: rgb(153, 178, 135);
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.navAnaliz ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.navAnaliz ul #anali {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.navAnaliz ul #anali::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.navAnaliz ul #anali:hover::after {
  width: 100%;
}

.footerAnaliz {
  background-color: rgb(153, 178, 135);
  height: 120px;
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.footerAnaliz ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.footerAnaliz ul li {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.footerAnaliz ul li::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.footerAnaliz ul li:hover::after {
  width: 100%;
}

.iconsAnaliz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: green;
  font-size: 1.5rem;
}

.bigLogo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#bigImageOne {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 250px;
}

#bigImageTwo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
}

#bigImageThree {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
}

#organic {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 270px;
  border: 2px 2px 2px white;
  border-radius: 30px;
}

.navGluten {
  height: 120px;
  background-color: rgb(220, 122, 151);
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.navGluten ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.navGluten ul #anali {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.navGluten ul #anali::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.navGluten ul #anali:hover::after {
  width: 100%;
}

.imageGlutenMain {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 42px;
}

#imageGluten {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  width: 300px;
  height: 350px;
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
#imageGluten::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
#imageGluten:hover::after {
  width: 100%;
}

#glutenFree {
  width: 400px;
  height: 230px;
  box-sizing: border-box;
  border-radius: 30px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.footerGluten {
  background-color: rgb(220, 122, 151);
  height: 120px;
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.footerGluten ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.footerGluten ul li {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.footerGluten ul li::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.footerGluten ul li:hover::after {
  width: 100%;
}

.navOrganic {
  height: 120px;
  background-color: rgb(234, 125, 41);
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.navOrganic ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.navOrganic ul #anali {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.navOrganic ul #anali::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.navOrganic ul #anali:hover::after {
  width: 100%;
}

.footerOrganic {
  background-color: rgb(234, 125, 41);
  height: 120px;
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.footerOrganic ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.footerOrganic ul li {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.footerOrganic ul li::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.footerOrganic ul li:hover::after {
  width: 100%;
}

.navSporcu {
  height: 120px;
  background-color: rgb(216, 49, 30);
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.navSporcu ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.navSporcu ul #anali {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.navSporcu ul #anali::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.navSporcu ul #anali:hover::after {
  width: 100%;
}

.footerSporcu {
  background-color: rgb(216, 49, 30);
  height: 120px;
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.footerSporcu ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.footerSporcu ul li {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.footerSporcu ul li::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.footerSporcu ul li:hover::after {
  width: 100%;
}

.navVegan {
  height: 120px;
  background-color: rgb(77, 147, 237);
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.navVegan ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.navVegan ul #anali {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.navVegan ul #anali::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.navVegan ul #anali:hover::after {
  width: 100%;
}

.footerVegan {
  background-color: rgb(77, 147, 237);
  height: 120px;
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.footerVegan ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.footerVegan ul li {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.footerVegan ul li::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.footerVegan ul li:hover::after {
  width: 100%;
}

.navSube {
  height: 120px;
  background-color: rgb(77, 237, 194);
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.navSube ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.navSube ul #anali {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.navSube ul #anali::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.navSube ul #anali:hover::after {
  width: 100%;
}

#baslikSube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  background-color: rgb(77, 237, 194);
  box-sizing: border-box;
  border: 2px 2px 2px gray;
  text-align: center;
  color: rgb(14, 14, 232);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footerSube {
  background-color: rgb(77, 237, 194);
  height: 120px;
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.footerSube ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.footerSube ul li {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.footerSube ul li::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.footerSube ul li:hover::after {
  width: 100%;
}

.boot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navIletisim {
  height: 120px;
  background-color: rgb(237, 80, 77);
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.navIletisim ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.navIletisim ul #anali {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.navIletisim ul #anali::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.navIletisim ul #anali:hover::after {
  width: 100%;
}

#baslikIletisim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  background-color: aqua;
  box-sizing: border-box;
  border: 2px 2px 2px gray;
  text-align: center;
  color: rgb(37, 34, 30);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bootTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.footerIletisim {
  background-color: rgb(237, 80, 77);
  height: 120px;
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.footerIletisim ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.footerIletisim ul li {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.footerIletisim ul li::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.footerIletisim ul li:hover::after {
  width: 100%;
}

.navSozlesme {
  height: 120px;
  background-color: rgb(221, 255, 0);
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.navSozlesme ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.navSozlesme ul #anali {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.navSozlesme ul #anali::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.navSozlesme ul #anali:hover::after {
  width: 100%;
}

.sozlesme {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

#baslikSozlesme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  background-color: rgb(221, 255, 0);
  box-sizing: border-box;
  border: 2px 2px 2px gray;
  text-align: center;
  color: rgb(28, 72, 205);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footerSozlesme {
  background-color: rgb(221, 255, 0);
  height: 120px;
  background: linear-gradient(url(https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079));
}
.footerSozlesme ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.footerSozlesme ul li {
  position: relative;
  font-size: 1.3rem;
  color: whitesmoke;
  cursor: pointer;
  z-index: 0;
  font-family: monospace;
}
.footerSozlesme ul li::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(47, 247, 60), rgb(177, 203, 28));
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0, 4s ease;
}
.footerSozlesme ul li:hover::after {
  width: 100%;
}

#pSozlesme {
  width: 100%;
  height: 600px;
  scroll-margin-right: 40px;
  scroll-margin-left: 40px;
}/*# sourceMappingURL=style.css.map */